/* ../../../test.blocks/page/page.styl:begin */
.page {
  padding: 20px;
}
/* ../../../test.blocks/page/page.styl:end */
/* ../../../design/common.blocks/page/_theme/page_theme_islands.styl:begin */
html {
  min-height: 100%;
}
.page_theme_islands {
  font: 13px/15px Arial, Helvetica, sans-serif;
  min-height: 100%;
  margin: 0;
  color: #000;
  background: #fff;
}
/* ../../../design/common.blocks/page/_theme/page_theme_islands.styl:end */
/* ../../../common.blocks/checkbox/checkbox.styl:begin */
.checkbox {
  touch-action: manipulation;
}
/* ../../../common.blocks/checkbox/checkbox.styl:end */
/* ../../../design/common.blocks/checkbox-group/_theme/checkbox-group_theme_simple.styl:begin */
.checkbox-group_theme_simple .checkbox_type_button:first-of-type .button_togglable_check,
.checkbox-group_theme_simple .checkbox_type_button~ .checkbox_type_button .button_togglable_check {
  border-right-width: 0;
}
.checkbox-group_theme_simple .checkbox_type_button~ .checkbox_type_button .button_togglable_check {
  border-radius: 0;
}
.checkbox-group_theme_simple .checkbox_type_button:first-of-type .button_togglable_check {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.checkbox-group_theme_simple .checkbox_type_button:last-of-type .button_togglable_check {
  border-right-width: 1px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* ../../../design/common.blocks/checkbox-group/_theme/checkbox-group_theme_simple.styl:end */
/* ../../../common.blocks/button/button.styl:begin */
.button {
  touch-action: manipulation;
}
/* ../../../common.blocks/button/button.styl:end */
/* ../../../design/common.blocks/button/_theme/button_theme_simple.styl:begin */
.button_theme_simple {
  font-family: inherit;
  font-size: 100%;
  line-height: 100%;
  display: inline-block;
  margin: 0;
  padding: 0.2em 1em;
  text-align: center;
  border: 1px solid rgba(0,0,0,0.3);
  outline: 0;
  border-radius: 3px;
  color: #000;
  background: #fff;
}
.button_theme_simple::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.button_theme_simple .button__text {
  position: relative;
}
.button_theme_simple.button_type_link {
  text-decoration: none;
}
.button_theme_simple.button_disabled {
  opacity: 0.6;
}
.button_theme_simple.button_focused-hard {
  box-shadow: 0 0 5px 1px #fc0;
}
.button_theme_simple.button_hovered {
  border-color: rgba(0,0,0,0.5);
}
.button_theme_simple.button_checked {
  background: #fff7db;
}
.button_theme_simple.button_pressed {
  background: #fff7db;
  box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.1);
}
.button_theme_simple.button_pressed.button_focused-hard {
  box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.1), 0 0 5px 1px #fc0;
}
.button_theme_simple.button_pressed .button__text,
.button_theme_simple.button_pressed .icon {
  position: relative;
  top: 1px;
}
.button_theme_simple .icon {
  width: 1em;
  margin-left: -0.7em;
}
.button_theme_simple .icon + .button__text {
  margin-left: 0.3em;
}
.button_theme_simple .icon:last-child {
  margin-right: -0.7em;
}
/* ../../../design/common.blocks/button/_theme/button_theme_simple.styl:end */
/* ../../../design/common.blocks/checkbox/_theme/checkbox_theme_simple.styl:begin */
.checkbox_theme_simple {
  position: relative;
}
.checkbox_theme_simple .checkbox__control {
  position: absolute;
  z-index: -1;
  visibility: hidden;
}
.checkbox_theme_simple .checkbox__box {
  display: inline-block;
}
.checkbox_theme_simple .checkbox__box:before {
  line-height: 0.6em;
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  margin: 0.1em 0.2em 0.3em;
  content: ' ';
  vertical-align: middle;
  border-radius: 2px;
  background: #fff;
  box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.5);
}
.checkbox_theme_simple.checkbox_disabled {
  opacity: 0.6;
}
.checkbox_theme_simple.checkbox_checked .checkbox__box:before {
  content: '\2713';
  background: #fff7db;
}
_::-webkit-full-page-media,
_:future,
:root .checkbox_theme_islands .checkbox__box {
  pointer-events: none;
}
/* ../../../design/common.blocks/checkbox/_theme/checkbox_theme_simple.styl:end */
/* ../../../common.blocks/checkbox/_type/checkbox_type_button.styl:begin */
.checkbox.checkbox_type_button .checkbox__control {
  position: absolute;
  visibility: hidden;
}
/* ../../../common.blocks/checkbox/_type/checkbox_type_button.styl:end */
/* ../../../common.blocks/icon/icon.styl:begin */
.icon {
  display: inline-block;
  text-align: center;
  background: 50% no-repeat;
/* Hack for correct baseline positioning */
/*
     * Чтобы иконка правильно позиционировалась внутри блочного контекста,
     * нужно прописать родителю свойство line-height со значением, равным высоте иконки
     */
}
.icon:empty:after {
  visibility: hidden;
  content: '\00A0';
}
.icon > img,
.icon > svg {
  margin: -5.15em 0 -5em;
  vertical-align: middle;
}
/* ../../../common.blocks/icon/icon.styl:end */
/* ../../../test.blocks/icon/icon.styl:begin */
.icon {
  min-width: 1em;
}
/* ../../../test.blocks/icon/icon.styl:end */
/* ../../../test.blocks/icon/_social/icon_social.styl:begin */
.icon_social_twitter {
  background-image: url("../../../test.blocks/icon/_social/twitter.png");
}
.icon_social_vk {
  background-image: url("../../../test.blocks/icon/_social/vk.png");
}
/* ../../../test.blocks/icon/_social/icon_social.styl:end */
/* ../../../design/common.blocks/checkbox-group/_theme/checkbox-group_theme_islands.styl:begin */
.checkbox-group_theme_islands {
  display: inline-block;
}
.checkbox-group_theme_islands.checkbox-group_size_m {
  line-height: 24px;
}
.checkbox-group_theme_islands.checkbox-group_size_l {
  line-height: 30px;
}
.checkbox-group_theme_islands.checkbox-group_type_button {
  display: inline-block;
  white-space: nowrap;
}
/* ../../../design/common.blocks/checkbox-group/_theme/checkbox-group_theme_islands.styl:end */
/* ../../../design/common.blocks/button/_theme/button_theme_islands.styl:begin */
.button_theme_islands {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  user-select: none;
  color: #000;
  border: 0;
  border-radius: 3px;
  outline: 0;
  background: rgba(0,0,0,0.2);
  text-align: center;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.button_theme_islands::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.button_theme_islands .button__text {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}
.button_theme_islands .icon {
  position: relative;
}
.button_theme_islands.button_type_link {
  text-decoration: none;
}
.button_theme_islands:before {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  content: '';
  border-radius: 2px;
  background: #fff;
}
.button_theme_islands.button_hovered {
  cursor: pointer;
  background: rgba(0,0,0,0.3);
}
.button_theme_islands.button_focused-hard {
  z-index: 1;
  background: rgba(178,142,0,0.6);
  box-shadow: 0 0 0 1px #fc0, inset 0 0 0 1px #fc0;
}
.button_theme_islands.button_pressed:before {
  background: #f6f5f3;
}
.button_theme_islands.button_checked {
  background: rgba(153,122,0,0.5);
}
.button_theme_islands.button_checked:before {
  background: #ffeba0;
}
.button_theme_islands.button_checked.button_pressed {
  background: rgba(129,103,0,0.6);
}
.button_theme_islands.button_checked.button_pressed:before {
  background: #fee481;
}
.button_theme_islands.button_checked.button_hovered {
  background: rgba(129,103,0,0.6);
}
.button_theme_islands.button_view_plain {
  background: none;
}
.button_theme_islands.button_view_plain:before {
  display: none;
}
.button_theme_islands.button_view_plain.button_pressed {
  background: #f6f5f3;
}
.button_theme_islands.button_view_plain.button_checked {
  background: #ffeba0;
}
.button_theme_islands.button_view_plain.button_checked.button_pressed {
  background: #fee481;
}
.button_theme_islands.button_view_plain.button_disabled {
  background: none;
}
.button_theme_islands.button_view_action {
  background: rgba(191,153,0,0.8);
}
.button_theme_islands.button_view_action:before {
  background: #ffdb4d;
}
.button_theme_islands.button_view_action.button_pressed:before {
  background: #fc0;
}
.button_theme_islands.button_view_action.button_hovered {
  background: rgba(159,127,0,0.8);
}
.button_theme_islands.button_view_pseudo {
  overflow: hidden;
  background: none;
}
.button_theme_islands.button_view_pseudo:before {
  background: none;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
}
.button_theme_islands.button_view_pseudo.button_hovered:before {
  box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
}
.button_theme_islands.button_view_pseudo.button_focused-hard:before {
  box-shadow: none;
}
.button_theme_islands.button_view_pseudo.button_pressed:before {
  background: rgba(0,0,0,0.05);
}
.button_theme_islands.button_view_pseudo.button_checked:before {
  background: #ffeba0;
  box-shadow: 0 0 0 1px rgba(153,122,0,0.5);
}
.button_theme_islands.button_view_pseudo.button_checked.button_hovered:before {
  box-shadow: 0 0 0 1px rgba(129,103,0,0.6);
}
.button_theme_islands.button_view_pseudo.button_checked.button_pressed:before {
  background: #fee481;
  box-shadow: 0 0 0 1px rgba(129,103,0,0.6);
}
.button_theme_islands.button_disabled {
  background: rgba(0,0,0,0.08);
}
.button_theme_islands.button_disabled:before {
  display: none;
}
.button_theme_islands.button_disabled.button_checked:before {
  display: block;
  background: #ffeba0;
}
.button_theme_islands.button_disabled .button__text {
  color: #aaa;
}
.button_theme_islands.button_disabled .icon {
  opacity: 0.3;
}
.button_theme_islands.button_size_s {
  font-size: 13px;
  line-height: 24px;
}
.button_theme_islands.button_size_s .icon {
  width: 24px;
}
.button_theme_islands.button_size_s .button__text {
  margin: 0 10px;
}
.button_theme_islands.button_size_m {
  font-size: 13px;
  line-height: 28px;
}
.button_theme_islands.button_size_m .icon {
  width: 28px;
}
.button_theme_islands.button_size_m .button__text {
  margin: 0 13px;
}
.button_theme_islands.button_size_l {
  font-size: 15px;
  line-height: 32px;
}
.button_theme_islands.button_size_l .icon {
  width: 32px;
}
.button_theme_islands.button_size_l .button__text {
  margin: 0 15px;
}
.button_theme_islands.button_size_xl {
  font-size: 18px;
  line-height: 38px;
}
.button_theme_islands.button_size_xl .icon {
  width: 38px;
}
.button_theme_islands.button_size_xl .button__text {
  margin: 0 18px;
}
.button_theme_islands .icon + .button__text {
  margin-left: 0;
}
.button_theme_islands .button__text:not(:last-child) {
  margin-right: 0;
}
.control-group .button_checked + .button_theme_islands:before,
.control-group .radio_checked + .radio .button_theme_islands:before,
.control-group .checkbox_checked + .checkbox .button_theme_islands:before {
  left: 0;
}
.control-group .button_theme_islands {
  border-radius: 0;
}
.control-group .button_theme_islands:before {
  right: 0;
  border-radius: 0;
}
.control-group .button_theme_islands.button_checked:before,
.control-group .button_theme_islands.button_focused-hard.button:before {
  right: 1px;
}
.control-group .button_theme_islands.button_focused-hard.button:before {
  left: 1px;
}
.control-group > .button_theme_islands:first-child,
.control-group > :first-child .button_theme_islands,
.control-group > :first-child.popup + .button_theme_islands {
  border-radius: 3px 0 0 3px;
}
.control-group > .button_theme_islands:first-child:before,
.control-group > :first-child .button_theme_islands:before,
.control-group > :first-child.popup + .button_theme_islands:before {
  border-radius: 2px 0 0 2px;
}
.control-group > .button_theme_islands:last-child,
.control-group > :last-child .button_theme_islands {
  border-radius: 0 3px 3px 0;
}
.control-group > .button_theme_islands:last-child:before,
.control-group > :last-child .button_theme_islands:before {
  border-radius: 0 2px 2px 0;
  right: 1px;
}
.control-group > :only-child .button_theme_islands {
  border-radius: 3px;
}
.control-group > :only-child .button_theme_islands:before {
  border-radius: 2px;
}
/* ../../../design/common.blocks/button/_theme/button_theme_islands.styl:end */
/* ../../../design/common.blocks/checkbox/_theme/checkbox_theme_islands.styl:begin */
.checkbox_theme_islands {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.checkbox_theme_islands:hover {
  cursor: pointer;
}
.checkbox_theme_islands .checkbox__control {
  position: absolute;
  z-index: -1;
  margin: 0;
  opacity: 0;
}
.checkbox_theme_islands .checkbox__box {
  position: relative;
  display: inline-block;
  border-radius: 3px;
  background: rgba(0,0,0,0.2);
}
.checkbox_theme_islands .checkbox__box:before {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  content: '';
  border-radius: 2px;
  background: #fff;
}
.checkbox_theme_islands .checkbox__box:after {
  position: absolute;
  top: -5px;
  left: 2px;
  content: '';
  background-image: url("../../../design/common.blocks/theme/_islands/tip.svg");
  background-size: 100%;
  visibility: hidden;
  opacity: 0;
  transition: transform 0.05s ease-out, opacity 0.05s ease-out, visibility 0s linear 0.05s;
}
.checkbox_theme_islands.checkbox_size_m {
  font-size: 13px;
}
.checkbox_theme_islands.checkbox_size_m .checkbox__box {
  line-height: 14px;
  top: 2px;
  width: 14px;
  height: 14px;
  margin-right: 5px;
}
.checkbox_theme_islands.checkbox_size_m .checkbox__box:after {
  width: 15px;
  height: 15px;
  transform: translateY(-5px);
}
.checkbox_theme_islands.checkbox_size_l {
  font-size: 15px;
}
.checkbox_theme_islands.checkbox_size_l .checkbox__box {
  line-height: 17px;
  top: 3px;
  width: 17px;
  height: 17px;
  margin-right: 7px;
}
.checkbox_theme_islands.checkbox_size_l .checkbox__box:after {
  width: 18px;
  height: 18px;
  transform: translateY(-7px);
}
.checkbox_theme_islands.checkbox_checked .checkbox__box {
  background: rgba(153,122,0,0.5);
}
.checkbox_theme_islands.checkbox_checked .checkbox__box:before {
  background: #ffeba0;
}
.checkbox_theme_islands.checkbox_checked .checkbox__box:after {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0s;
}
.checkbox_theme_islands.checkbox_focused .checkbox__box {
  box-shadow: 0 0 0 1px #fc0, inset 0 0 0 1px #fc0;
}
.checkbox_theme_islands.checkbox_hovered .checkbox__box {
  background: rgba(0,0,0,0.3);
}
.checkbox_theme_islands.checkbox_hovered.checkbox_checked .checkbox__box {
  background: rgba(129,103,0,0.6);
}
.checkbox_theme_islands.checkbox_disabled {
  cursor: default;
  color: #999;
}
.checkbox_theme_islands.checkbox_disabled .checkbox__box {
  background: rgba(0,0,0,0.08);
}
.checkbox_theme_islands.checkbox_disabled .checkbox__box:before {
  display: none;
}
.checkbox_theme_islands.checkbox_disabled.checkbox_checked .checkbox__box:after {
  opacity: 0.4;
}
.checkbox_theme_islands.checkbox_type_button {
  display: inline-block;
}
.checkbox_theme_islands.checkbox_type_line.checkbox_size_m {
  margin-right: 13px;
}
.checkbox_theme_islands.checkbox_type_line.checkbox_size_l {
  margin-right: 15px;
}
.checkbox_theme_islands.checkbox_type_line:last-child {
  margin-right: 0;
}
_::-webkit-full-page-media,
_:future,
:root .checkbox_theme_islands .checkbox__box {
  pointer-events: none;
}
/* ../../../design/common.blocks/checkbox/_theme/checkbox_theme_islands.styl:end */
