/* ../../../test.blocks/page/page.styl:begin */
.page {
  padding: 20px;
}
/* ../../../test.blocks/page/page.styl:end */
/* ../../../design/common.blocks/page/_theme/page_theme_islands.styl:begin */
html {
  min-height: 100%;
}
.page_theme_islands {
  font: 13px/15px Arial, Helvetica, sans-serif;
  min-height: 100%;
  margin: 0;
  color: #000;
  background: #fff;
}
/* ../../../design/common.blocks/page/_theme/page_theme_islands.styl:end */
/* ../../../common.blocks/link/link.styl:begin */
.link {
  touch-action: manipulation;
}
/* ../../../common.blocks/link/link.styl:end */
/* ../../../test.blocks/link/link.styl:begin */
.link_pseudo:not([class*="link_theme"]) {
  cursor: pointer;
  color: #00f;
}
.link_pseudo:not([class*="link_theme"]):hover {
  color: #f00;
}
/* ../../../test.blocks/link/link.styl:end */
/* ../../../common.blocks/icon/icon.styl:begin */
.icon {
  display: inline-block;
  text-align: center;
  background: 50% no-repeat;
/* Hack for correct baseline positioning */
/*
     * Чтобы иконка правильно позиционировалась внутри блочного контекста,
     * нужно прописать родителю свойство line-height со значением, равным высоте иконки
     */
}
.icon:empty:after {
  visibility: hidden;
  content: '\00A0';
}
.icon > img,
.icon > svg {
  margin: -5.15em 0 -5em;
  vertical-align: middle;
}
/* ../../../common.blocks/icon/icon.styl:end */
/* ../../../test.blocks/icon/icon.styl:begin */
.icon {
  min-width: 1em;
}
/* ../../../test.blocks/icon/icon.styl:end */
/* ../../../test.blocks/icon/_action/icon_action.styl:begin */
.icon_action_up,
.icon_action_right,
.icon_action_down,
.icon_action_left {
  background-image: url("../../../test.blocks/icon/_action/arrow.svg");
}
.icon_action_up {
  transform: rotate(180deg);
}
.icon_action_right {
  transform: rotate(-90deg);
}
.icon_action_left {
  transform: rotate(90deg);
}
.icon_action_download {
  background-image: url("../../../test.blocks/icon/_action/download.svg");
}
/* ../../../test.blocks/icon/_action/icon_action.styl:end */
/* ../../../design/common.blocks/link/_theme/link_theme_simple.styl:begin */
.link_theme_simple {
  cursor: pointer;
  text-decoration: underline;
}
.link_theme_simple,
.link_theme_simple:link {
  color: #008ace;
}
.link_theme_simple:visited {
  color: #b40eb4;
}
.link_theme_simple:hover {
  color: #c00;
}
/* ../../../design/common.blocks/link/_theme/link_theme_simple.styl:end */
/* ../../../design/common.blocks/link/_theme/link_theme_islands.styl:begin */
.link_theme_islands {
  color: #44b;
  cursor: pointer;
  transition: color 0.15s ease-out;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0.1);
}
.link_theme_islands.link_view_minor {
  color: #669;
}
.link_theme_islands.link_view_external {
  color: #070;
}
.link_theme_islands:hover {
  color: #e00;
}
.link_theme_islands.link_size_s {
  font-size: 13px;
}
.link_theme_islands.link_size_m {
  font-size: 13px;
}
.link_theme_islands.link_size_l {
  font-size: 15px;
}
.link_theme_islands.link_size_xl {
  font-size: 18px;
}
.link_theme_islands.link_disabled {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/* ../../../design/common.blocks/link/_theme/link_theme_islands.styl:end */
