/* ../../../test.blocks/page/page.styl:begin */
.page {
  padding: 20px;
}
/* ../../../test.blocks/page/page.styl:end */
/* ../../../design/common.blocks/page/_theme/page_theme_islands.styl:begin */
html {
  min-height: 100%;
}
.page_theme_islands {
  font: 13px/15px Arial, Helvetica, sans-serif;
  min-height: 100%;
  margin: 0;
  color: #000;
  background: #fff;
}
/* ../../../design/common.blocks/page/_theme/page_theme_islands.styl:end */
/* ../../../common.blocks/icon/icon.styl:begin */
.icon {
  display: inline-block;
  text-align: center;
  background: 50% no-repeat;
/* Hack for correct baseline positioning */
/*
     * Чтобы иконка правильно позиционировалась внутри блочного контекста,
     * нужно прописать родителю свойство line-height со значением, равным высоте иконки
     */
}
.icon:empty:after {
  visibility: hidden;
  content: '\00A0';
}
.icon > img,
.icon > svg {
  margin: -5.15em 0 -5em;
  vertical-align: middle;
}
/* ../../../common.blocks/icon/icon.styl:end */
/* ../../../test.blocks/icon/icon.styl:begin */
.icon {
  min-width: 1em;
}
/* ../../../test.blocks/icon/icon.styl:end */
/* ../../../test.blocks/icon/_social/icon_social.styl:begin */
.icon_social_twitter {
  background-image: url("../../../test.blocks/icon/_social/twitter.png");
}
.icon_social_vk {
  background-image: url("../../../test.blocks/icon/_social/vk.png");
}
/* ../../../test.blocks/icon/_social/icon_social.styl:end */
