/* ../../../test.blocks/page/page.styl:begin */
.page {
  padding: 20px;
}
/* ../../../test.blocks/page/page.styl:end */
/* ../../../design/common.blocks/page/_theme/page_theme_islands.styl:begin */
html {
  min-height: 100%;
}
.page_theme_islands {
  font: 13px/15px Arial, Helvetica, sans-serif;
  min-height: 100%;
  margin: 0;
  color: #000;
  background: #fff;
}
/* ../../../design/common.blocks/page/_theme/page_theme_islands.styl:end */
/* ./gemini.blocks/test/test.styl:begin */
.test {
  display: inline-block;
  width: 20%;
  padding: 0 40px 150px 0;
}
/* ./gemini.blocks/test/test.styl:end */
/* ../../../common.blocks/select/select.styl:begin */
.select {
  display: inline-block;
}
/* ../../../common.blocks/select/select.styl:end */
/* ../../../test.blocks/select/select.styl:begin */
.page {
  min-height: 150px;
}
/* ../../../test.blocks/select/select.styl:end */
/* ../../../common.blocks/button/button.styl:begin */
.button {
  touch-action: manipulation;
}
/* ../../../common.blocks/button/button.styl:end */
/* ../../../common.blocks/icon/icon.styl:begin */
.icon {
  display: inline-block;
  text-align: center;
  background: 50% no-repeat;
/* Hack for correct baseline positioning */
/*
     * Чтобы иконка правильно позиционировалась внутри блочного контекста,
     * нужно прописать родителю свойство line-height со значением, равным высоте иконки
     */
}
.icon:empty:after {
  visibility: hidden;
  content: '\00A0';
}
.icon > img,
.icon > svg {
  margin: -5.15em 0 -5em;
  vertical-align: middle;
}
/* ../../../common.blocks/icon/icon.styl:end */
/* ../../../test.blocks/icon/icon.styl:begin */
.icon {
  min-width: 1em;
}
/* ../../../test.blocks/icon/icon.styl:end */
/* ../../../common.blocks/menu/menu.styl:begin */
.menu {
  overflow-y: auto;
}
/* ../../../common.blocks/menu/menu.styl:end */
/* ../../../common.blocks/menu-item/menu-item.styl:begin */
.menu-item {
  touch-action: manipulation;
}
/* ../../../common.blocks/menu-item/menu-item.styl:end */
/* ../../../test.blocks/menu-item/menu-item.styl:begin */
.menu-item .icon {
  width: 16px;
  margin-right: 5px;
}
/* ../../../test.blocks/menu-item/menu-item.styl:end */
/* ../../../common.blocks/popup/popup.styl:begin */
.popup {
  position: absolute;
}
/* ../../../common.blocks/popup/popup.styl:end */
/* ../../../test.blocks/popup/popup.styl:begin */
.popup:not(.modal):not([class*="popup_theme"]) {
  display: none;
  background: #fff7db;
  box-shadow: inset 0 0 1px #f00;
}
.popup_visible:not(.modal):not([class*="popup_theme"]) {
  display: block;
}
/* ../../../test.blocks/popup/popup.styl:end */
/* ../../../design/common.blocks/button/_theme/button_theme_islands.styl:begin */
.button_theme_islands {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  user-select: none;
  color: #000;
  border: 0;
  border-radius: 3px;
  outline: 0;
  background: rgba(0,0,0,0.2);
  text-align: center;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.button_theme_islands::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.button_theme_islands .button__text {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}
.button_theme_islands .icon {
  position: relative;
}
.button_theme_islands.button_type_link {
  text-decoration: none;
}
.button_theme_islands:before {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  content: '';
  border-radius: 2px;
  background: #fff;
}
.button_theme_islands.button_hovered {
  cursor: pointer;
  background: rgba(0,0,0,0.3);
}
.button_theme_islands.button_focused-hard {
  z-index: 1;
  background: rgba(178,142,0,0.6);
  box-shadow: 0 0 0 1px #fc0, inset 0 0 0 1px #fc0;
}
.button_theme_islands.button_pressed:before {
  background: #f6f5f3;
}
.button_theme_islands.button_checked {
  background: rgba(153,122,0,0.5);
}
.button_theme_islands.button_checked:before {
  background: #ffeba0;
}
.button_theme_islands.button_checked.button_pressed {
  background: rgba(129,103,0,0.6);
}
.button_theme_islands.button_checked.button_pressed:before {
  background: #fee481;
}
.button_theme_islands.button_checked.button_hovered {
  background: rgba(129,103,0,0.6);
}
.button_theme_islands.button_view_plain {
  background: none;
}
.button_theme_islands.button_view_plain:before {
  display: none;
}
.button_theme_islands.button_view_plain.button_pressed {
  background: #f6f5f3;
}
.button_theme_islands.button_view_plain.button_checked {
  background: #ffeba0;
}
.button_theme_islands.button_view_plain.button_checked.button_pressed {
  background: #fee481;
}
.button_theme_islands.button_view_plain.button_disabled {
  background: none;
}
.button_theme_islands.button_view_action {
  background: rgba(191,153,0,0.8);
}
.button_theme_islands.button_view_action:before {
  background: #ffdb4d;
}
.button_theme_islands.button_view_action.button_pressed:before {
  background: #fc0;
}
.button_theme_islands.button_view_action.button_hovered {
  background: rgba(159,127,0,0.8);
}
.button_theme_islands.button_view_pseudo {
  overflow: hidden;
  background: none;
}
.button_theme_islands.button_view_pseudo:before {
  background: none;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
}
.button_theme_islands.button_view_pseudo.button_hovered:before {
  box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
}
.button_theme_islands.button_view_pseudo.button_focused-hard:before {
  box-shadow: none;
}
.button_theme_islands.button_view_pseudo.button_pressed:before {
  background: rgba(0,0,0,0.05);
}
.button_theme_islands.button_view_pseudo.button_checked:before {
  background: #ffeba0;
  box-shadow: 0 0 0 1px rgba(153,122,0,0.5);
}
.button_theme_islands.button_view_pseudo.button_checked.button_hovered:before {
  box-shadow: 0 0 0 1px rgba(129,103,0,0.6);
}
.button_theme_islands.button_view_pseudo.button_checked.button_pressed:before {
  background: #fee481;
  box-shadow: 0 0 0 1px rgba(129,103,0,0.6);
}
.button_theme_islands.button_disabled {
  background: rgba(0,0,0,0.08);
}
.button_theme_islands.button_disabled:before {
  display: none;
}
.button_theme_islands.button_disabled.button_checked:before {
  display: block;
  background: #ffeba0;
}
.button_theme_islands.button_disabled .button__text {
  color: #aaa;
}
.button_theme_islands.button_disabled .icon {
  opacity: 0.3;
}
.button_theme_islands.button_size_s {
  font-size: 13px;
  line-height: 24px;
}
.button_theme_islands.button_size_s .icon {
  width: 24px;
}
.button_theme_islands.button_size_s .button__text {
  margin: 0 10px;
}
.button_theme_islands.button_size_m {
  font-size: 13px;
  line-height: 28px;
}
.button_theme_islands.button_size_m .icon {
  width: 28px;
}
.button_theme_islands.button_size_m .button__text {
  margin: 0 13px;
}
.button_theme_islands.button_size_l {
  font-size: 15px;
  line-height: 32px;
}
.button_theme_islands.button_size_l .icon {
  width: 32px;
}
.button_theme_islands.button_size_l .button__text {
  margin: 0 15px;
}
.button_theme_islands.button_size_xl {
  font-size: 18px;
  line-height: 38px;
}
.button_theme_islands.button_size_xl .icon {
  width: 38px;
}
.button_theme_islands.button_size_xl .button__text {
  margin: 0 18px;
}
.button_theme_islands .icon + .button__text {
  margin-left: 0;
}
.button_theme_islands .button__text:not(:last-child) {
  margin-right: 0;
}
.control-group .button_checked + .button_theme_islands:before,
.control-group .radio_checked + .radio .button_theme_islands:before,
.control-group .checkbox_checked + .checkbox .button_theme_islands:before {
  left: 0;
}
.control-group .button_theme_islands {
  border-radius: 0;
}
.control-group .button_theme_islands:before {
  right: 0;
  border-radius: 0;
}
.control-group .button_theme_islands.button_checked:before,
.control-group .button_theme_islands.button_focused-hard.button:before {
  right: 1px;
}
.control-group .button_theme_islands.button_focused-hard.button:before {
  left: 1px;
}
.control-group > .button_theme_islands:first-child,
.control-group > :first-child .button_theme_islands,
.control-group > :first-child.popup + .button_theme_islands {
  border-radius: 3px 0 0 3px;
}
.control-group > .button_theme_islands:first-child:before,
.control-group > :first-child .button_theme_islands:before,
.control-group > :first-child.popup + .button_theme_islands:before {
  border-radius: 2px 0 0 2px;
}
.control-group > .button_theme_islands:last-child,
.control-group > :last-child .button_theme_islands {
  border-radius: 0 3px 3px 0;
}
.control-group > .button_theme_islands:last-child:before,
.control-group > :last-child .button_theme_islands:before {
  border-radius: 0 2px 2px 0;
  right: 1px;
}
.control-group > :only-child .button_theme_islands {
  border-radius: 3px;
}
.control-group > :only-child .button_theme_islands:before {
  border-radius: 2px;
}
/* ../../../design/common.blocks/button/_theme/button_theme_islands.styl:end */
/* ../../../design/desktop.blocks/button/_theme/button_theme_islands.ie.styl:begin */
.button_theme_islands {
  border: 1px solid #cbcbcb;
  background: #fff;
}
.button_theme_islands:before {
  content: none;
}
.button_theme_islands.button_hovered {
  border-color: #b2b2b2;
}
.button_theme_islands.button_focused-hard {
  border-color: #fc0 !important;
  outline: 1px solid #fc0;
}
.button_theme_islands.button_checked {
  border-color: #cbbc7f;
  background: #ffeba0;
}
.button_theme_islands.button_checked.button_pressed {
  background: #fee481;
}
.button_theme_islands.button_checked.button_pressed,
.button_theme_islands.button_checked.button_hovered {
  border-color: #b2a265;
}
.button_theme_islands.button_pressed {
  background: #f6f5f3;
}
.button_theme_islands.button_view_action {
  border-color: #caac32;
  background: #ffdb4d;
}
.button_theme_islands.button_view_action.button_pressed {
  background: #fc0;
}
.button_theme_islands.button_view_action.button_hovered {
  border-color: #b19732;
}
.button_theme_islands.button_view_pseudo.button_pressed {
  background: #f2f2f2;
}
.button_theme_islands.button_view_pseudo.button_checked.button_pressed {
  background: #fee481;
}
.button_theme_islands.button_view_pseudo.button_checked.button_pressed,
.button_theme_islands.button_view_pseudo.button_checked.button_hovered {
  border-color: #937d28;
}
.button_theme_islands.button_disabled {
  border-color: #eaeaea;
  background: #eaeaea;
}
.button_theme_islands.button_disabled.button_checked {
  background: #ffeba0;
}
.button_theme_islands.button_size_s {
  line-height: 22px;
}
.button_theme_islands.button_size_m {
  line-height: 26px;
}
.button_theme_islands.button_size_l {
  line-height: 30px;
}
.button_theme_islands.button_size_xl {
  line-height: 36px;
}
.control-group .button_theme_islands {
  border-left-width: 0;
}
.control-group .button_theme_islands:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  border-left: 1px solid transparent;
}
.control-group > :first-child .button_theme_islands,
.control-group > .button_theme_islands:first-child {
  border-left-width: 1px;
}
.control-group > :first-child .button_theme_islands:after,
.control-group > .button_theme_islands:first-child:after {
  content: none !important;
}
.control-group.checkbox-group_type_button .button_theme_islands.button_focused-hard:after {
  content: ' ';
  border-color: #fc0;
}
.control-group.radio-group_type_button .button_theme_islands.button_focused-hard:after {
  content: ' ';
  border-color: #fc0;
}
/* ../../../design/desktop.blocks/button/_theme/button_theme_islands.ie.styl:end */
/* ../../../design/common.blocks/select/_theme/select_theme_islands.styl:begin */
.select_theme_islands {
  max-width: 100%;
  vertical-align: bottom;
}
.select_theme_islands .select__button {
  width: 100%;
  text-align: left;
  vertical-align: top;
}
.select_theme_islands .select__button .button__text {
  display: block;
}
.select_theme_islands .select__button .button__text:empty:before {
  content: '\00a0';
}
.select_theme_islands .select__button.button_size_s .button__text {
  padding-right: 27px;
}
.select_theme_islands .select__button.button_size_s .icon {
  width: 25px;
}
.select_theme_islands .select__button.button_size_m .button__text {
  padding-right: 28px;
}
.select_theme_islands .select__button.button_size_m .icon {
  width: 29px;
}
.select_theme_islands .select__button.button_size_l .button__text {
  padding-right: 32px;
}
.select_theme_islands .select__button.button_size_l .icon {
  width: 33px;
}
.select_theme_islands .select__button.button_size_xl .button__text {
  padding-right: 38px;
}
.select_theme_islands .select__button.button_size_xl .icon {
  width: 39px;
}
.select_theme_islands .select__tick {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../../../design/common.blocks/theme/_islands/arrow.svg");
  transition: transform 0.1s ease-out;
}
.select_theme_islands.select_size_s .select__tick {
  background-image: url("../../../design/common.blocks/theme/_islands/arrow-s.svg");
}
.select_theme_islands.select_opened .select__tick {
  transform: rotate(-180deg);
}
.select_theme_islands.select_width_available {
  width: 100%;
}
/* ../../../design/common.blocks/select/_theme/select_theme_islands.styl:end */
/* ../../../design/desktop.blocks/select/_theme/select_theme_islands.ie.styl:begin */
.select_theme_islands .select__tick {
  background-image: url("../../../design/desktop.blocks/select/_theme/arrow.png");
  height: 100%;
}
.select_theme_islands.select_size_s .select__tick {
  background-image: url("../../../design/desktop.blocks/select/_theme/arrow-s.png");
}
/* ../../../design/desktop.blocks/select/_theme/select_theme_islands.ie.styl:end */
/* ../../../design/common.blocks/popup/_theme/popup_theme_islands.styl:begin */
.popup_theme_islands {
  display: none;
  visibility: hidden;
  margin: -9999px 0 0 -9999px;
  animation-duration: 0.1s;
  animation-timing-function: ease-out;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 10px 20px -5px rgba(0,0,0,0.4);
  animation-fill-mode: forwards;
}
.popup_theme_islands.popup_js_inited {
  display: block;
}
.popup_theme_islands.popup_visible {
  visibility: visible;
  margin: 0;
}
.popup_theme_islands.popup_direction_bottom-left {
  animation-name: popup_theme_islands_bottom;
}
.popup_theme_islands.popup_direction_bottom-center {
  animation-name: popup_theme_islands_bottom;
}
.popup_theme_islands.popup_direction_bottom-right {
  animation-name: popup_theme_islands_bottom;
}
.popup_theme_islands.popup_direction_bottom-left.popup_visible {
  animation-name: popup_theme_islands_bottom_visible;
}
.popup_theme_islands.popup_direction_bottom-center.popup_visible {
  animation-name: popup_theme_islands_bottom_visible;
}
.popup_theme_islands.popup_direction_bottom-right.popup_visible {
  animation-name: popup_theme_islands_bottom_visible;
}
.popup_theme_islands.popup_direction_top-left {
  animation-name: popup_theme_islands_top;
}
.popup_theme_islands.popup_direction_top-center {
  animation-name: popup_theme_islands_top;
}
.popup_theme_islands.popup_direction_top-right {
  animation-name: popup_theme_islands_top;
}
.popup_theme_islands.popup_direction_top-left.popup_visible {
  animation-name: popup_theme_islands_top_visible;
}
.popup_theme_islands.popup_direction_top-center.popup_visible {
  animation-name: popup_theme_islands_top_visible;
}
.popup_theme_islands.popup_direction_top-right.popup_visible {
  animation-name: popup_theme_islands_top_visible;
}
.popup_theme_islands.popup_direction_right-top {
  animation-name: popup_theme_islands_right;
}
.popup_theme_islands.popup_direction_right-center {
  animation-name: popup_theme_islands_right;
}
.popup_theme_islands.popup_direction_right-bottom {
  animation-name: popup_theme_islands_right;
}
.popup_theme_islands.popup_direction_right-top.popup_visible {
  animation-name: popup_theme_islands_right_visible;
}
.popup_theme_islands.popup_direction_right-center.popup_visible {
  animation-name: popup_theme_islands_right_visible;
}
.popup_theme_islands.popup_direction_right-bottom.popup_visible {
  animation-name: popup_theme_islands_right_visible;
}
.popup_theme_islands.popup_direction_left-top {
  animation-name: popup_theme_islands_left;
}
.popup_theme_islands.popup_direction_left-center {
  animation-name: popup_theme_islands_left;
}
.popup_theme_islands.popup_direction_left-bottom {
  animation-name: popup_theme_islands_left;
}
.popup_theme_islands.popup_direction_left-top.popup_visible {
  animation-name: popup_theme_islands_left_visible;
}
.popup_theme_islands.popup_direction_left-center.popup_visible {
  animation-name: popup_theme_islands_left_visible;
}
.popup_theme_islands.popup_direction_left-bottom.popup_visible {
  animation-name: popup_theme_islands_left_visible;
}
@-moz-keyframes popup_theme_islands_bottom {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateY(10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-webkit-keyframes popup_theme_islands_bottom {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateY(10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-o-keyframes popup_theme_islands_bottom {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateY(10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@keyframes popup_theme_islands_bottom {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateY(10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-moz-keyframes popup_theme_islands_bottom_visible {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes popup_theme_islands_bottom_visible {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes popup_theme_islands_bottom_visible {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes popup_theme_islands_bottom_visible {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes popup_theme_islands_top {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateY(-10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-webkit-keyframes popup_theme_islands_top {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateY(-10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-o-keyframes popup_theme_islands_top {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateY(-10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@keyframes popup_theme_islands_top {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateY(-10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-moz-keyframes popup_theme_islands_top_visible {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes popup_theme_islands_top_visible {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes popup_theme_islands_top_visible {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes popup_theme_islands_top_visible {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes popup_theme_islands_right {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateX(10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-webkit-keyframes popup_theme_islands_right {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateX(10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-o-keyframes popup_theme_islands_right {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateX(10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@keyframes popup_theme_islands_right {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateX(10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-moz-keyframes popup_theme_islands_right_visible {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes popup_theme_islands_right_visible {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-o-keyframes popup_theme_islands_right_visible {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes popup_theme_islands_right_visible {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-moz-keyframes popup_theme_islands_left {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateX(-10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-webkit-keyframes popup_theme_islands_left {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateX(-10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-o-keyframes popup_theme_islands_left {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateX(-10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@keyframes popup_theme_islands_left {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateX(-10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-moz-keyframes popup_theme_islands_left_visible {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes popup_theme_islands_left_visible {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-o-keyframes popup_theme_islands_left_visible {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes popup_theme_islands_left_visible {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* ../../../design/common.blocks/popup/_theme/popup_theme_islands.styl:end */
/* ../../../design/desktop.blocks/popup/_theme/popup_theme_islands.ie.styl:begin */
.popup_theme_islands {
  border: 1px solid #e4e4e4;
}
/* ../../../design/desktop.blocks/popup/_theme/popup_theme_islands.ie.styl:end */
/* ../../../design/common.blocks/menu/_theme/menu_theme_islands.styl:begin */
.menu_theme_islands {
  box-sizing: border-box;
  user-select: none;
  outline: 0;
  background: #fff;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
/* Using pseudo-elements intead of paddings because of Firefox bug with bottom padding (#1158):
     * https://bugzilla.mozilla.org/show_bug.cgi?id=748518 */
}
.menu_theme_islands:before,
.menu_theme_islands:after {
  display: block;
  content: '';
}
.menu_theme_islands.menu_size_s {
  font-size: 13px;
  line-height: 24px;
}
.menu_theme_islands.menu_size_s:before,
.menu_theme_islands.menu_size_s:after {
  height: 3px;
}
.menu_theme_islands.menu_size_s .menu-item + .menu__group {
  margin-top: 3px;
}
.menu_theme_islands.menu_size_s .menu__group {
  padding: 3px 0;
}
.menu_theme_islands.menu_size_s .menu__group-title {
  padding: 0 10px;
}
.menu_theme_islands.menu_size_m {
  font-size: 13px;
  line-height: 24px;
}
.menu_theme_islands.menu_size_m:before,
.menu_theme_islands.menu_size_m:after {
  height: 4px;
}
.menu_theme_islands.menu_size_m .menu-item + .menu__group {
  margin-top: 4px;
}
.menu_theme_islands.menu_size_m .menu__group {
  padding: 4px 0;
}
.menu_theme_islands.menu_size_m .menu__group-title {
  padding: 0 13px;
}
.menu_theme_islands.menu_size_l {
  font-size: 15px;
  line-height: 28px;
}
.menu_theme_islands.menu_size_l:before,
.menu_theme_islands.menu_size_l:after {
  height: 5px;
}
.menu_theme_islands.menu_size_l .menu-item + .menu__group {
  margin-top: 5px;
}
.menu_theme_islands.menu_size_l .menu__group {
  padding: 5px 0;
}
.menu_theme_islands.menu_size_l .menu__group-title {
  padding: 0 15px;
}
.menu_theme_islands.menu_size_xl {
  font-size: 15px;
  line-height: 32px;
}
.menu_theme_islands.menu_size_xl:before,
.menu_theme_islands.menu_size_xl:after {
  height: 6px;
}
.menu_theme_islands.menu_size_xl .menu-item + .menu__group {
  margin-top: 6px;
}
.menu_theme_islands.menu_size_xl .menu__group {
  padding: 6px 0;
}
.menu_theme_islands.menu_size_xl .menu__group-title {
  padding: 0 20px;
}
.menu_theme_islands .menu__group {
  border: 1px solid rgba(0,0,0,0.1);
  border-width: 1px 0;
}
.menu_theme_islands .menu__group-title {
  color: #999;
}
.menu_theme_islands .menu__group + .menu__group {
  border-top: 0;
}
.menu_theme_islands .menu__group:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.menu_theme_islands .menu__group:first-child {
  padding-top: 0;
  border-top: 0;
}
/* ../../../design/common.blocks/menu/_theme/menu_theme_islands.styl:end */
/* ../../../design/desktop.blocks/menu/_theme/menu_theme_islands.ie.styl:begin */
.menu_theme_islands {
  border: 1px solid #ccc;
}
.menu_theme_islands .menu__group-title {
  color: #999;
}
/* ../../../design/desktop.blocks/menu/_theme/menu_theme_islands.ie.styl:end */
/* ../../../design/common.blocks/menu-item/_theme/menu-item_theme_islands.styl:begin */
.menu-item_theme_islands {
  position: relative;
  white-space: nowrap;
}
.menu-item_theme_islands.menu-item_disabled {
  opacity: 0.3;
}
.menu-item_theme_islands .link_disabled {
  cursor: text;
}
.menu-item_theme_islands.menu-item_checked {
  background: 0 50% no-repeat url("../../../design/common.blocks/theme/_islands/tip.svg");
}
.menu-item_theme_islands.menu-item_hovered {
  cursor: pointer;
  background-color: #ffeba0;
}
.menu-item_theme_islands.menu-item_type_link .link {
  text-decoration: none;
  color: inherit;
  outline: none;
}
.menu-item_theme_islands.menu-item_type_link .link:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}
.menu_size_s .menu-item_theme_islands {
  padding: 0 10px;
  background-size: 14px 14px;
  background-position: 10px 50%;
}
.menu_size_s .menu__group + .menu-item_theme_islands {
  margin-top: 3px;
}
.menu_size_s[class*='menu_mode'] .menu-item_theme_islands,
.menu_size_s .menu__group-title ~ .menu-item_theme_islands {
  padding: 0 30px;
}
.menu_size_m .menu-item_theme_islands {
  padding: 0 13px;
  background-size: 14px 14px;
  background-position: 13px 50%;
}
.menu_size_m .menu__group + .menu-item_theme_islands {
  margin-top: 4px;
}
.menu_size_m[class*='menu_mode'] .menu-item_theme_islands,
.menu_size_m .menu__group-title ~ .menu-item_theme_islands {
  padding: 0 30px;
}
.menu_size_l .menu-item_theme_islands {
  padding: 0 15px;
  background-size: 15px 15px;
  background-position: 15px 50%;
}
.menu_size_l .menu__group + .menu-item_theme_islands {
  margin-top: 5px;
}
.menu_size_l[class*='menu_mode'] .menu-item_theme_islands,
.menu_size_l .menu__group-title ~ .menu-item_theme_islands {
  padding: 0 34px;
}
.menu_size_xl .menu-item_theme_islands {
  padding: 0 20px;
  background-size: 15px 15px;
  background-position: 20px 50%;
}
.menu_size_xl .menu__group + .menu-item_theme_islands {
  margin-top: 6px;
}
.menu_size_xl[class*='menu_mode'] .menu-item_theme_islands,
.menu_size_xl .menu__group-title ~ .menu-item_theme_islands {
  padding: 0 40px;
}
/* ../../../design/common.blocks/menu-item/_theme/menu-item_theme_islands.styl:end */
/* ../../../design/desktop.blocks/menu-item/_theme/menu-item_theme_islands.ie.styl:begin */
.menu-item_theme_islands.menu-item_disabled {
  color: #999;
}
.menu_size_s .menu-item_theme_islands.menu-item_checked {
  background: 10px 50% no-repeat url("../../../design/desktop.blocks/menu-item/_theme/tip_size_s.png");
}
.menu_size_m .menu-item_theme_islands.menu-item_checked {
  background: 13px 50% no-repeat url("../../../design/desktop.blocks/menu-item/_theme/tip_size_s.png");
}
.menu_size_l .menu-item_theme_islands.menu-item_checked {
  background: 15px 50% no-repeat url("../../../design/desktop.blocks/menu-item/_theme/tip_size_l.png");
}
.menu_size_xl .menu-item_theme_islands.menu-item_checked {
  background: 20px 50% no-repeat url("../../../design/desktop.blocks/menu-item/_theme/tip_size_l.png");
}
/* ../../../design/desktop.blocks/menu-item/_theme/menu-item_theme_islands.ie.styl:end */
/* ../../../test.blocks/icon/_social/icon_social.styl:begin */
.icon_social_twitter {
  background-image: url("../../../test.blocks/icon/_social/twitter.png");
}
.icon_social_vk {
  background-image: url("../../../test.blocks/icon/_social/vk.png");
}
/* ../../../test.blocks/icon/_social/icon_social.styl:end */
