/* ../../../test.blocks/page/page.styl:begin */
.page {
  padding: 20px;
}
/* ../../../test.blocks/page/page.styl:end */
/* ../../../design/common.blocks/page/_theme/page_theme_islands.styl:begin */
html {
  min-height: 100%;
}
.page_theme_islands {
  font: 13px/15px Arial, Helvetica, sans-serif;
  min-height: 100%;
  margin: 0;
  color: #000;
  background: #fff;
}
/* ../../../design/common.blocks/page/_theme/page_theme_islands.styl:end */
/* ../../../design/common.blocks/progressbar/_theme/progressbar_theme_islands.styl:begin */
.progressbar_theme_islands {
  overflow: hidden;
}
.progressbar_theme_islands .progressbar__bar {
  height: 2px;
  background: #fc0;
}
/* ../../../design/common.blocks/progressbar/_theme/progressbar_theme_islands.styl:end */
