/* ../../../test.blocks/page/page.styl:begin */
.page {
  padding: 20px;
}
/* ../../../test.blocks/page/page.styl:end */
/* ../../../design/common.blocks/page/_theme/page_theme_islands.styl:begin */
html {
  min-height: 100%;
}
.page_theme_islands {
  font: 13px/15px Arial, Helvetica, sans-serif;
  min-height: 100%;
  margin: 0;
  color: #000;
  background: #fff;
}
/* ../../../design/common.blocks/page/_theme/page_theme_islands.styl:end */
/* ../../../common.blocks/popup/popup.styl:begin */
.popup {
  position: absolute;
}
/* ../../../common.blocks/popup/popup.styl:end */
/* ../../../test.blocks/popup/popup.styl:begin */
.popup:not(.modal):not([class*="popup_theme"]) {
  display: none;
  background: #fff7db;
  box-shadow: inset 0 0 1px #f00;
}
.popup_visible:not(.modal):not([class*="popup_theme"]) {
  display: block;
}
/* ../../../test.blocks/popup/popup.styl:end */
/* ../../../common.blocks/button/button.styl:begin */
.button {
  touch-action: manipulation;
}
/* ../../../common.blocks/button/button.styl:end */
/* ../../../design/common.blocks/popup/_theme/popup_theme_islands.styl:begin */
.popup_theme_islands {
  display: none;
  visibility: hidden;
  margin: -9999px 0 0 -9999px;
  animation-duration: 0.1s;
  animation-timing-function: ease-out;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 10px 20px -5px rgba(0,0,0,0.4);
  animation-fill-mode: forwards;
}
.popup_theme_islands.popup_js_inited {
  display: block;
}
.popup_theme_islands.popup_visible {
  visibility: visible;
  margin: 0;
}
.popup_theme_islands.popup_direction_bottom-left {
  animation-name: popup_theme_islands_bottom;
}
.popup_theme_islands.popup_direction_bottom-center {
  animation-name: popup_theme_islands_bottom;
}
.popup_theme_islands.popup_direction_bottom-right {
  animation-name: popup_theme_islands_bottom;
}
.popup_theme_islands.popup_direction_bottom-left.popup_visible {
  animation-name: popup_theme_islands_bottom_visible;
}
.popup_theme_islands.popup_direction_bottom-center.popup_visible {
  animation-name: popup_theme_islands_bottom_visible;
}
.popup_theme_islands.popup_direction_bottom-right.popup_visible {
  animation-name: popup_theme_islands_bottom_visible;
}
.popup_theme_islands.popup_direction_top-left {
  animation-name: popup_theme_islands_top;
}
.popup_theme_islands.popup_direction_top-center {
  animation-name: popup_theme_islands_top;
}
.popup_theme_islands.popup_direction_top-right {
  animation-name: popup_theme_islands_top;
}
.popup_theme_islands.popup_direction_top-left.popup_visible {
  animation-name: popup_theme_islands_top_visible;
}
.popup_theme_islands.popup_direction_top-center.popup_visible {
  animation-name: popup_theme_islands_top_visible;
}
.popup_theme_islands.popup_direction_top-right.popup_visible {
  animation-name: popup_theme_islands_top_visible;
}
.popup_theme_islands.popup_direction_right-top {
  animation-name: popup_theme_islands_right;
}
.popup_theme_islands.popup_direction_right-center {
  animation-name: popup_theme_islands_right;
}
.popup_theme_islands.popup_direction_right-bottom {
  animation-name: popup_theme_islands_right;
}
.popup_theme_islands.popup_direction_right-top.popup_visible {
  animation-name: popup_theme_islands_right_visible;
}
.popup_theme_islands.popup_direction_right-center.popup_visible {
  animation-name: popup_theme_islands_right_visible;
}
.popup_theme_islands.popup_direction_right-bottom.popup_visible {
  animation-name: popup_theme_islands_right_visible;
}
.popup_theme_islands.popup_direction_left-top {
  animation-name: popup_theme_islands_left;
}
.popup_theme_islands.popup_direction_left-center {
  animation-name: popup_theme_islands_left;
}
.popup_theme_islands.popup_direction_left-bottom {
  animation-name: popup_theme_islands_left;
}
.popup_theme_islands.popup_direction_left-top.popup_visible {
  animation-name: popup_theme_islands_left_visible;
}
.popup_theme_islands.popup_direction_left-center.popup_visible {
  animation-name: popup_theme_islands_left_visible;
}
.popup_theme_islands.popup_direction_left-bottom.popup_visible {
  animation-name: popup_theme_islands_left_visible;
}
@-moz-keyframes popup_theme_islands_bottom {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateY(10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-webkit-keyframes popup_theme_islands_bottom {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateY(10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-o-keyframes popup_theme_islands_bottom {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateY(10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@keyframes popup_theme_islands_bottom {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateY(10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-moz-keyframes popup_theme_islands_bottom_visible {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes popup_theme_islands_bottom_visible {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes popup_theme_islands_bottom_visible {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes popup_theme_islands_bottom_visible {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes popup_theme_islands_top {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateY(-10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-webkit-keyframes popup_theme_islands_top {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateY(-10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-o-keyframes popup_theme_islands_top {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateY(-10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@keyframes popup_theme_islands_top {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateY(-10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-moz-keyframes popup_theme_islands_top_visible {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes popup_theme_islands_top_visible {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes popup_theme_islands_top_visible {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes popup_theme_islands_top_visible {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes popup_theme_islands_right {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateX(10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-webkit-keyframes popup_theme_islands_right {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateX(10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-o-keyframes popup_theme_islands_right {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateX(10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@keyframes popup_theme_islands_right {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateX(10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-moz-keyframes popup_theme_islands_right_visible {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes popup_theme_islands_right_visible {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-o-keyframes popup_theme_islands_right_visible {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes popup_theme_islands_right_visible {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-moz-keyframes popup_theme_islands_left {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateX(-10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-webkit-keyframes popup_theme_islands_left {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateX(-10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-o-keyframes popup_theme_islands_left {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateX(-10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@keyframes popup_theme_islands_left {
  0% {
    visibility: visible;
    margin: 0;
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    transform: translateX(-10px);
  }
  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0;
  }
}
@-moz-keyframes popup_theme_islands_left_visible {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes popup_theme_islands_left_visible {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-o-keyframes popup_theme_islands_left_visible {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes popup_theme_islands_left_visible {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* ../../../design/common.blocks/popup/_theme/popup_theme_islands.styl:end */
/* ../../../design/desktop.blocks/popup/_theme/popup_theme_islands.ie.styl:begin */
.popup_theme_islands {
  border: 1px solid #e4e4e4;
}
/* ../../../design/desktop.blocks/popup/_theme/popup_theme_islands.ie.styl:end */
/* ../../../design/common.blocks/link/_theme/link_theme_islands.styl:begin */
.link_theme_islands {
  color: #44b;
  cursor: pointer;
  transition: color 0.15s ease-out;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0.1);
}
.link_theme_islands.link_view_minor {
  color: #669;
}
.link_theme_islands.link_view_external {
  color: #070;
}
.link_theme_islands:hover {
  color: #e00;
}
.link_theme_islands.link_size_s {
  font-size: 13px;
}
.link_theme_islands.link_size_m {
  font-size: 13px;
}
.link_theme_islands.link_size_l {
  font-size: 15px;
}
.link_theme_islands.link_size_xl {
  font-size: 18px;
}
.link_theme_islands.link_disabled {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/* ../../../design/common.blocks/link/_theme/link_theme_islands.styl:end */
/* ../../../common.blocks/link/link.styl:begin */
.link {
  touch-action: manipulation;
}
/* ../../../common.blocks/link/link.styl:end */
/* ../../../test.blocks/link/link.styl:begin */
.link_pseudo:not([class*="link_theme"]) {
  cursor: pointer;
  color: #00f;
}
.link_pseudo:not([class*="link_theme"]):hover {
  color: #f00;
}
/* ../../../test.blocks/link/link.styl:end */
/* ../../../design/common.blocks/button/_theme/button_theme_islands.styl:begin */
.button_theme_islands {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  user-select: none;
  color: #000;
  border: 0;
  border-radius: 3px;
  outline: 0;
  background: rgba(0,0,0,0.2);
  text-align: center;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.button_theme_islands::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.button_theme_islands .button__text {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}
.button_theme_islands .icon {
  position: relative;
}
.button_theme_islands.button_type_link {
  text-decoration: none;
}
.button_theme_islands:before {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  content: '';
  border-radius: 2px;
  background: #fff;
}
.button_theme_islands.button_hovered {
  cursor: pointer;
  background: rgba(0,0,0,0.3);
}
.button_theme_islands.button_focused-hard {
  z-index: 1;
  background: rgba(178,142,0,0.6);
  box-shadow: 0 0 0 1px #fc0, inset 0 0 0 1px #fc0;
}
.button_theme_islands.button_pressed:before {
  background: #f6f5f3;
}
.button_theme_islands.button_checked {
  background: rgba(153,122,0,0.5);
}
.button_theme_islands.button_checked:before {
  background: #ffeba0;
}
.button_theme_islands.button_checked.button_pressed {
  background: rgba(129,103,0,0.6);
}
.button_theme_islands.button_checked.button_pressed:before {
  background: #fee481;
}
.button_theme_islands.button_checked.button_hovered {
  background: rgba(129,103,0,0.6);
}
.button_theme_islands.button_view_plain {
  background: none;
}
.button_theme_islands.button_view_plain:before {
  display: none;
}
.button_theme_islands.button_view_plain.button_pressed {
  background: #f6f5f3;
}
.button_theme_islands.button_view_plain.button_checked {
  background: #ffeba0;
}
.button_theme_islands.button_view_plain.button_checked.button_pressed {
  background: #fee481;
}
.button_theme_islands.button_view_plain.button_disabled {
  background: none;
}
.button_theme_islands.button_view_action {
  background: rgba(191,153,0,0.8);
}
.button_theme_islands.button_view_action:before {
  background: #ffdb4d;
}
.button_theme_islands.button_view_action.button_pressed:before {
  background: #fc0;
}
.button_theme_islands.button_view_action.button_hovered {
  background: rgba(159,127,0,0.8);
}
.button_theme_islands.button_view_pseudo {
  overflow: hidden;
  background: none;
}
.button_theme_islands.button_view_pseudo:before {
  background: none;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
}
.button_theme_islands.button_view_pseudo.button_hovered:before {
  box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
}
.button_theme_islands.button_view_pseudo.button_focused-hard:before {
  box-shadow: none;
}
.button_theme_islands.button_view_pseudo.button_pressed:before {
  background: rgba(0,0,0,0.05);
}
.button_theme_islands.button_view_pseudo.button_checked:before {
  background: #ffeba0;
  box-shadow: 0 0 0 1px rgba(153,122,0,0.5);
}
.button_theme_islands.button_view_pseudo.button_checked.button_hovered:before {
  box-shadow: 0 0 0 1px rgba(129,103,0,0.6);
}
.button_theme_islands.button_view_pseudo.button_checked.button_pressed:before {
  background: #fee481;
  box-shadow: 0 0 0 1px rgba(129,103,0,0.6);
}
.button_theme_islands.button_disabled {
  background: rgba(0,0,0,0.08);
}
.button_theme_islands.button_disabled:before {
  display: none;
}
.button_theme_islands.button_disabled.button_checked:before {
  display: block;
  background: #ffeba0;
}
.button_theme_islands.button_disabled .button__text {
  color: #aaa;
}
.button_theme_islands.button_disabled .icon {
  opacity: 0.3;
}
.button_theme_islands.button_size_s {
  font-size: 13px;
  line-height: 24px;
}
.button_theme_islands.button_size_s .icon {
  width: 24px;
}
.button_theme_islands.button_size_s .button__text {
  margin: 0 10px;
}
.button_theme_islands.button_size_m {
  font-size: 13px;
  line-height: 28px;
}
.button_theme_islands.button_size_m .icon {
  width: 28px;
}
.button_theme_islands.button_size_m .button__text {
  margin: 0 13px;
}
.button_theme_islands.button_size_l {
  font-size: 15px;
  line-height: 32px;
}
.button_theme_islands.button_size_l .icon {
  width: 32px;
}
.button_theme_islands.button_size_l .button__text {
  margin: 0 15px;
}
.button_theme_islands.button_size_xl {
  font-size: 18px;
  line-height: 38px;
}
.button_theme_islands.button_size_xl .icon {
  width: 38px;
}
.button_theme_islands.button_size_xl .button__text {
  margin: 0 18px;
}
.button_theme_islands .icon + .button__text {
  margin-left: 0;
}
.button_theme_islands .button__text:not(:last-child) {
  margin-right: 0;
}
.control-group .button_checked + .button_theme_islands:before,
.control-group .radio_checked + .radio .button_theme_islands:before,
.control-group .checkbox_checked + .checkbox .button_theme_islands:before {
  left: 0;
}
.control-group .button_theme_islands {
  border-radius: 0;
}
.control-group .button_theme_islands:before {
  right: 0;
  border-radius: 0;
}
.control-group .button_theme_islands.button_checked:before,
.control-group .button_theme_islands.button_focused-hard.button:before {
  right: 1px;
}
.control-group .button_theme_islands.button_focused-hard.button:before {
  left: 1px;
}
.control-group > .button_theme_islands:first-child,
.control-group > :first-child .button_theme_islands,
.control-group > :first-child.popup + .button_theme_islands {
  border-radius: 3px 0 0 3px;
}
.control-group > .button_theme_islands:first-child:before,
.control-group > :first-child .button_theme_islands:before,
.control-group > :first-child.popup + .button_theme_islands:before {
  border-radius: 2px 0 0 2px;
}
.control-group > .button_theme_islands:last-child,
.control-group > :last-child .button_theme_islands {
  border-radius: 0 3px 3px 0;
}
.control-group > .button_theme_islands:last-child:before,
.control-group > :last-child .button_theme_islands:before {
  border-radius: 0 2px 2px 0;
  right: 1px;
}
.control-group > :only-child .button_theme_islands {
  border-radius: 3px;
}
.control-group > :only-child .button_theme_islands:before {
  border-radius: 2px;
}
/* ../../../design/common.blocks/button/_theme/button_theme_islands.styl:end */
/* ../../../design/desktop.blocks/button/_theme/button_theme_islands.ie.styl:begin */
.button_theme_islands {
  border: 1px solid #cbcbcb;
  background: #fff;
}
.button_theme_islands:before {
  content: none;
}
.button_theme_islands.button_hovered {
  border-color: #b2b2b2;
}
.button_theme_islands.button_focused-hard {
  border-color: #fc0 !important;
  outline: 1px solid #fc0;
}
.button_theme_islands.button_checked {
  border-color: #cbbc7f;
  background: #ffeba0;
}
.button_theme_islands.button_checked.button_pressed {
  background: #fee481;
}
.button_theme_islands.button_checked.button_pressed,
.button_theme_islands.button_checked.button_hovered {
  border-color: #b2a265;
}
.button_theme_islands.button_pressed {
  background: #f6f5f3;
}
.button_theme_islands.button_view_action {
  border-color: #caac32;
  background: #ffdb4d;
}
.button_theme_islands.button_view_action.button_pressed {
  background: #fc0;
}
.button_theme_islands.button_view_action.button_hovered {
  border-color: #b19732;
}
.button_theme_islands.button_view_pseudo.button_pressed {
  background: #f2f2f2;
}
.button_theme_islands.button_view_pseudo.button_checked.button_pressed {
  background: #fee481;
}
.button_theme_islands.button_view_pseudo.button_checked.button_pressed,
.button_theme_islands.button_view_pseudo.button_checked.button_hovered {
  border-color: #937d28;
}
.button_theme_islands.button_disabled {
  border-color: #eaeaea;
  background: #eaeaea;
}
.button_theme_islands.button_disabled.button_checked {
  background: #ffeba0;
}
.button_theme_islands.button_size_s {
  line-height: 22px;
}
.button_theme_islands.button_size_m {
  line-height: 26px;
}
.button_theme_islands.button_size_l {
  line-height: 30px;
}
.button_theme_islands.button_size_xl {
  line-height: 36px;
}
.control-group .button_theme_islands {
  border-left-width: 0;
}
.control-group .button_theme_islands:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  border-left: 1px solid transparent;
}
.control-group > :first-child .button_theme_islands,
.control-group > .button_theme_islands:first-child {
  border-left-width: 1px;
}
.control-group > :first-child .button_theme_islands:after,
.control-group > .button_theme_islands:first-child:after {
  content: none !important;
}
.control-group.checkbox-group_type_button .button_theme_islands.button_focused-hard:after {
  content: ' ';
  border-color: #fc0;
}
.control-group.radio-group_type_button .button_theme_islands.button_focused-hard:after {
  content: ' ';
  border-color: #fc0;
}
/* ../../../design/desktop.blocks/button/_theme/button_theme_islands.ie.styl:end */
